:root {
  --branding-color: #bb7cbd;
  --second-color: #a18ba3;
  --third-color: #c564c8;
  --fourth-color: #626262;
  --heading-font-family: "Kalnia", serif;
  --second-font-family: "Sansita", sans-serif;
  --default-font-family: sans-serif;
  --shadow: 5px 15px 35px rgba(135, 135, 135, 0.3);
  --background-color: black;
  --gradient-color: linear-gradient(65deg, #d7c9d4 20%, #d4d3c3 60%);
}

body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
  color: rgb(223, 222, 222);
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(223, 223, 223);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
  font-weight: 800;
  text-shadow: var(--shadow);
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.container-fluid {
  background: var(--second-color);
  color: #fff;
}

.hero {
  background: black;
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: rgb(231, 231, 231);
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 120px 20px;
}
.content h1 {
  color: rgb(231, 231, 231);
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  color: rgb(231, 231, 231);
  font-size: 35px;
  font-family: var(--heading-font-family);
}
.content h3 {
  color: rgb(231, 231, 231);
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content {
  margin: 30px;
}

.content p {
  font-size: 14px;
}
.content-container .work {
  background: var(--gradient-color);
  border-radius: 10px;
}
.work .dark {
  color: black;
}

.btn-branding-pink {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 5px;
  box-shadow: var(--shadow);
}

.btn-branding-pink:hover {
  background: var(--third-color);
  color: rgb(231, 231, 231);
}

.btn-branding-green {
  background: var(--third-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 5px;
  box-shadow: var(--shadow);
}
.btn-branding-green:hover {
  background: var(--fourth-color);
  color: rgb(231, 231, 231);
}

.btn-branding-outline {
  border: 1px solid var(--second-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px;
}

.about-description {
  text-align: left;
  padding: 10px 10px;
}

.contact-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--branding-color);
  font-size: 20px;
}

.coded {
  font-family: var(--default-font-family);
  text-align: center;
  font-size: 18px;
  margin-top: 60px;
}

.logo {
  max-height: 70px;
  border-radius: 20px;
}

.active {
  color: rgb(231, 231, 231) !important;
}
nav {
  padding: 20px 0;
}

nav ul {
  margin: 0 !important;
  padding: 0 !important;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: rgb(231, 231, 231);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
footer {
  margin: 60px 0;
}

footer .social-links {
  background-color: rgb(56, 56, 56);
  text-decoration: none;
  font-size: 25px;
  color: rgb(231, 231, 231);
  text-align: center;
  margin: 0 20px;
  padding: 10px 10px;
  box-shadow: var(--shadow);
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}
footer .social-links:hover {
  background-color: var(--second-color);
  color: #fff;
}

footer a {
  color: #f79fff;
  text-decoration: none;
}

footer a:hover {
  color: #b765be;
  text-decoration: none;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }
}
